title: datalab.mi
author: Sous direction de l'innovation et la transformation numérique
description: Page de presentation, avec les missions et les auteurs de la Sous Direcction de l'innovation numérique
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://datalab-mi.github.io" # the base hostname & protocol for your site, e.g. http://example.com

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - node_modules

sass:
  sass_dir: _sass
  style: compressed

markdown: kramdown
markdown_ext: 'wiki,mkdown,mkdn,mkd,md'

defaults:
  - 
    scope:
      path: ''
    values:
      layout: default
      type: post
  - 
    scope:
      path: ''
      type: posts
    values:
      layout: post
      permalink: '/blog/:title'
  - 
    scope:
      type: projects
    values:
      layout: post
  - 
    scope:
      type: wiki
    values:
      layout: post
  - 
    scope:
      path: '/blog'
    values:
      layout: post
    
plugins:
  - jekyll-redirect-from
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
