  <footer id="footer" >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 center"> </strong></div>
      </div>
    </div>
  </footer>
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="footer__logo">
        <img src="{{ 'img/logo_metiers/datalab-round.png' | relative_url }}" alt="Logo Etalab">
        <div> &copy; Copyright <strong>datalab.mi</strong></div>
      </div>
      <ul class="footer__links">
        <li><h2>datalab.mi</h2></li>
        <li><a href="{{ '/' | relative_url }}">Laboratiore de données</a></li>
        <li><a href="{{ '/labinnovation' | relative_url }}">Laboratiore d'innovation</a></li>
        <li><a href="http://api.datalab.mi">API</a></li>
      </ul>
      <ul class="footer__links"></ul>
    </div>
  </footer>

