<header class="navbar" role="navigation">
  <div class="navbar__container">
    <a class="navbar__home" href="index.html">
      <img class="navbar__logo" src="{{ 'img/logo_metiers/datalab-round.png' | relative_url }}"
                                alt="template.data.gouv.fr" /><span class="navbar__domain">datalab.mi</span>
    </a>

    <nav>
      <ul class="nav__links">
        <li class="nav__item"><a href="{{ '/datalab' | relative_url }}">Laboratoire de la donnée</a></li>
        <li class="nav__item"><a href="{{ '/labinnovation' | relative_url }}">Laboratoire Innovation</a></li>
      </ul>
    </nav>
  </div>
</header>
