<header class="rf-header">
  <div class="container rf-container rf-container__header">
    <div class="rf-header__body">
      <div class="rf-header__brand">
        <span class="rf-logo" title="Ministère de l'intérieur">
          <span class="rf-logo__title">Ministère<br>de l'intérieur</span>
        </span>
      </div>
      <img src="{{ '../assets/images/datalab-logo-header.svg' | relative_url }}" alt="datalab logo" />

      <!-- menu burger -->
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

      <div class="nav-right">
        <a href="#down" class="go-down btn btn-blue navbar__btn">
          Nous contacter
        </a>
      </div>
    </div>
  </div>
  </div>
</header>
