<header id="header">
  <div class="container">
    <div id="logo" class="pull-left"> <a href="#haut"><img height="96px"  src="img/logo_metiers/datalab-round.png" alt="" title="" /></a> </div>
    <!-- debut nav-menu-container -->
    <nav id="nav-menu-container">
      <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
        <li class="menu-active"><a href="#haut">Accueil</a></li>
        <li><a href="#datalab">Le datalab</a></li>
        <li><a href="#eig">Challenges EIGs</a></li>
        <li><a href="#startups">Start'ups</a></li>
        <li><a href="#services">Les services</a></li>
        <li><a href="#lentrepot">L'entrepôt</a></li>
        <li><a href="#team">Equipe</a></li>
        <!--
          <li class="menu-has-children"><a href="">Menu</a>
          <ul>
          <li><a href="#">Thème 1</a></li>
          <li class="menu-has-children"><a href="#">Sous-menu 2</a>
          <ul>
          <li><a href="#">Thème 1</a></li>
          <li><a href="#">Thème 2</a></li>
          <li><a href="#">Thème 3</a></li>
          <li><a href="#">Thème 4</a></li>
          <li><a href="#">Thème 5</a></li>
          </ul>
          </li>
          <li><a href="#">Thème 3</a></li>
          <li><a href="#">Thème 4</a></li>
          <li><a href="#">Thème 5</a></li>
          </ul>
          </li>
        -->
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <!-- fin nav-menu-container -->
  </div>
</header>
