#haut {
    width:100%;
    height:100vh;
    background:url(/assets/images/datalab/big-data-analytics.jpg) top center;
    #background: #000;
    background-size:cover;
    position:relative;
}

#haut_about {
    width:100%;
    height:100vh;
    background:url(/assets/images/about/lumiere.jpg) top center;
    #background: #000;
    background-size:cover;
    position:relative;
}

#haut_labinno {
    width:100%;
    height:100vh;
    background:url(/assets/images/labinnovation/call-to-action-bg.jpg) top center;
    #background: #000;
    background-size:cover;
    position:relative;
}
